body {
  background-color: #252221;
  color: whitesmoke;
}

/* Primary-Header */
.primary-header {
 display: flex;
 align-items: center;
  /* ^ Aligns all elements (logo/NavLinks) in line and in center */
 justify-content: space-between; 
  /* ^ flexes nav links to end of screen */
}

/* Navbar Logo */
.logo {
  display: flex;
  margin: 2rem ;

  font-size: 2rem;
  font-weight: 700;
}

/* Primary Navigation (ul) */
.primary-navigation {
  display: flex;
  gap: 3rem;
  padding: 1rem;
  border-radius: 5px;

  background-color: rgba(255,255,255,0.05);  
    /* ^ Give transparancy to navlink container */
  backdrop-filter: blur(1rem); 
    /* ^ apply graphical blur to area behind transparent element */
  list-style: none;
    /* ^ Remove default bullet points from li  */
  
  transition: 350ms ease-out;
}

  /* Supports */
  @supports (backdrop-filter: blur(1rem)) {
    .primary-navigation {
      background-color: rgba(255,255,255,0.05);
      backdrop-filter: blur(1rem);
        /* ^ IF browser supports backdrop-filter use this */
        /* ^ ELSE default to above standard .primary-navigation */
    }
  }

  /* Navigation Links */
  a {
    text-decoration: none;
    color: whitesmoke;
  }


/* Hamburger menu */
.mobile-nav-toggle {
  display: none;
  /* ^ set to display none for default */
}

/* Large Screens */
@media (min-width: 1200px) {
  .primary-navigation {
    font-size: 1.75em;
  }
  .logo{
    font-size: 2.5em;
  } 
}

/* Medium + Screens */
@media (min-width: 660px){
  .primary-navigation {
    font-size: 1.1em;
    gap: clamp(1.5rem, 5vw, 10rem); 
      /* ^ adjust gap as per screen size */
      /* ^ clamp(MIN value(1.5rem), INCREASE By(5vw), Max value (10rem)*/
  }

}

/* Small Screens */
@media (max-width: 660px){
  .primary-navigation {
    flex-direction: column;
      /* ^ Stack NavLinks in a column */
    position: fixed;
      /* ^ Prevent overflow and crowding with other elements */
    z-index: 100;
      /* ^ Bring to top */
    inset: 0 0 0 30%; 
      /* ^ take up 70% of the screen */
      /* ^ distance away from (top bottom left right) */ 
    padding: min(10vh, 10rem) 3em;
      /* ^ Chooses the minimum padding-top value depending on screen size */
      /* ^ Used to prevent overflow */
    gap: 2em;

    transition: 350ms ease-out;
    
    transform: translateX(0%);

  }

  .hidden {
    /* display: none; */
    transform: translateX(100%);
  }

  .active-menu {
    background: url('./assets/close-nav-menu.svg');
    
  }

  .expand-menu {
    background: url('./assets/expand-nav-menu.svg');

  }
  

  /* Hamburger menu toggle */
  .mobile-nav-toggle{
    background-repeat: no-repeat;
      /* Remove repeat duplicates of SVG */
    border: none;
      /* ^ remove border from SVG */
    width: 3em;
    aspect-ratio: 1;
      /* ^ Match height to width 1:1 */

    display: block;
    /* ^ Show, as display none is set for bigger screens */
    position: absolute;
      /* ^ Freedom to manipulate position independantly*/
    z-index: 1000;
      /* ^ Bring to absolute top, prevent it from being hidden */
    
    top: 2.3rem;
    right: 2rem;
    /* ^ Position to be over NavLink container*/

    cursor: pointer;

    transition: 350ms ease-out;
   
    
  }
}

/* Very Small Screens */
@media (max-width: 450px){
  .primary-navigation {
    inset: 0 0 0 0%; 
    /* ^ Navbar to take up full screen */
    align-items: center;
    /* ^ Center all elements */
    padding: min(20vh, 10rem) 2em;
    gap: 3rem;
  }
  .mobile-nav-toggle{
    right: 2rem;

  }
}

